Package: com.imokhles.twbenhancermac
Name: TWBEnhancerMac
Architecture: darwin-amd64
Description: real enhancements for Tweetbot on mac
Maintainer: iMokhles <mokhleshussien@aol.com>
Author: iMokhles <mokhleshussien@aol.com>
Section: Tweaks
Version: 1.1-1
